<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Orders</title>
    <style>
       body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

select {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

    </style>
</head>
<body>
    <h1>User Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order._id %></td>
                    <td><%= order.user %></td>
                    <td>
                        <% if (order.status === 'delivered') { %>
                            <span style="color: green;"><%= order.status %></span>
                        <% } else if(order.status==='cancelled') { %>
                            <span style="color:red;"><%= order.status %></span>
                        <% } else{ %>
                            <span><%= order.status %></span>
                        <% } %>
                    </td>
                    <td>
                        <% if (order.status !== 'delivered'&& order.status!=='cancelled' ) { %>
                            <form action="/admin/update/orderstatus?orderid=<%= order._id %>" method="post">
                                <select name="status">
                                    <option value="pending">Pending</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="delivered">Delivered</option>
                                </select>
                                <button type="submit">Update</button>
                            </form>
                        <% } else { %>
                            <span>Cannot edit</span>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
