<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/userlistshow.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    

    
</head>
<style>

table{

    width:75%;
    margin-left: 50px;
}

.size td {

height:50px;
width:50px;
box-sizing: content-box;
}
h1{
    margin-left: 29%;
/* text-align: center; */
    
}



</style>
<body>
    <header class="admin-header" style="background-color: lightblue;">
        <div class="admin-logo">
          <img src="/images/admin/logo.png" alt="Admin Logo">
        </div>
        <nav class="admin-nav">
          <ul>
            <li><a href="/adminhome">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
    </header>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>NO</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Newprice</th> <!-- Added "Phone Number" column -->
                <th>Delete</th> <!-- Added column for delete button/icon -->
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <% var i = 0 %>
            <% product.forEach(function(user) { %>
            <tr class="size">
                <%  i++ %>
                <td><%= i %></td>
                <td><img style="width:70px"  src="/uploads/<%=user.image1 %>" alt="" srcset="" ></td>
                <td><%= user.productname %></td>
                <td><%= user.price%></td>
                <td><%= user.newprice %></td> <!-- Added "Phone Number" cell -->
                <td>
                    <!-- Delete button/icon -->
                    <button onclick="deleteuser('<%= user._id %>')">Delete</button>
                   
                </td>
                <td>
                 
                    <button onclick="editproduct('<%= user._id %>')">
                        <i class="fas fa-edit"></i> 
                    </button>
                   
                </td>
                
            </tr>
            <% }); %>
        </tbody>
    </table>
    
    <!-- JavaScript function to handle user deletion -->
  <script src="/script/deleteproduct.js"></script>
  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


</body>
</html>
