<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders Details</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/css/user/orders/orderoneshow.css" />
    <link rel="stylesheet" href="/css/user/userhome/header.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">


<style>
 
#reviewForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white; /* Set background color of form to white */
        padding: 20px;
        border-radius: 10px;
        z-index: 999; /* Set z-index higher than other elements */
        display: none; /* Hide form by default */

      
  justify-content: center;
  width: 467px;
  gap: 5px;


      }

      /* Style form input fields and button */
      #reviewForm input[type="text"],
      #reviewForm textarea,
      #reviewForm input[type="number"],
      #reviewForm button {
        margin: 10px;
        padding: 10px;
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      #reviewForm button {
        background-color: green; /* Set button background color to blue */
        color: white; /* Set button text color to white */
        cursor: pointer;
      }

      /* Style links */
      a {
        color: white; /* Set link text color to white */
        text-decoration: none; /* Remove underline from links */
      }

      a:hover {
        text-decoration: underline; /* Add underline on hover */
      }

      .fa-magnifying-glass:before,
.fa-search:before {
  content:"\f002";
  left: 10px;
  margin-left: -28px;
}
  

</style>




    <!-- end of Style css -->
  </head>
  <body>
    <!-- header -->
    <section id="header">
        <a href="#"><img class="logo" src="/images/userhome/logo.png" alt="logo" style="width: 80px; height: 82px;"></a>
        <div>
            <ul id="navbar">
                <li class="search-bar">
                    <input type="text" name="searchbar" id="searchbar">
                    <i class="fa-solid fa-magnifying-glass" id="icon"></i>
                </li>
                <li><a class="active" href="/userhome" style="text-decoration: none;">Home</a></li>
                <!-- <li><a href="./sub-pages/shop.html">Category</a></li> -->

                <li class="dropdown">
                    <a href="#">Category</a>
                    <!-- <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Category 1</a></li>
                            <li><a href="#">Category 2</a></li>
                            
                        </ul>
                    </div> -->
                </li>
                
                <li><a href="/userhome/men/?query=men">men</a></li>
                <li><a href="/userhome/women/?query=women">women</a></li>

           
<%if (user1)  {  %>

    
             
                <li><a href="/userhome/account/<%=user1._id%>">Account</a></li>


<%  }  else {%> 

    <li><a href="/login
        
        ">Account</a></li>


<%}     %>       



                <li><a href="/userhome/wishlist"><i class="fa-solid fa-heart"></i></a></li> <!-- Heart icon for wishlist -->
                <li class="lg-bag"><a href="/userhome/cart"><i class="fa-solid fa-bag-shopping"></i></a></li> <!-- Existing cart symbol -->
                <li><a href="/userhome/orders"><i class="fa-light fa-bags-shopping" style="color: #004080;"></i></a>               </li>
                <li><a href="/userhome/logout">logout</a></li>
            </ul>
        </div>
       
    </section>

    <!-- end of header -->

    <!-- main -->
    <main id="background">
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartHead">
              <div class="d-flex align-items-center gap-2">
                <h2 class="m-0 p-0">Order Details</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15 " viewBox="0 0 20 15" fill="none">
                  <path d="M3 7H17V11C17 12.8856 17 13.8284 16.4142 14.4142C15.8284 15 14.8856 15 13 15H7C5.11438 15 4.17157 15 3.58579 14.4142C3 13.8284 3 12.8856 3 11V7Z" fill="black"/>
                  <path d="M0.815301 3.8153L3 6L7 2L4.58869 0.392459C4.23591 0.157275 3.77317 0.170119 3.43399 0.424509L0.922408 2.30819C0.435568 2.67332 0.384992 3.38499 0.815301 3.8153Z" fill="black"/>
                  <path d="M19.1847 3.8153L17 6L13 2L15.4113 0.392459C15.7641 0.157275 16.2268 0.170119 16.566 0.424509L19.0776 2.30819C19.5644 2.67332 19.615 3.38499 19.1847 3.8153Z" fill="black"/>
                  <path d="M16 6V7H4V6L7 3H13L16 6Z" fill="black" stroke="white" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </div>
            </div>
            <div class="cartBody">
              <div class="ODhead">
                <p>Order ID - <%=order._id%></p>
              </div>
              
              <div class="d-flex ODhead gap-3 justify-content-between align-items-center">
                <%order.products.forEach((ele)=>{%>
                <div>
                    



                   
    
                  <h2 class="m-0 p-0 text-capitalize"><%=ele.productname%></h2>
                  <!-- <p class="m-0 p-0 text-capitalize">Black</p> -->
                  <div class="d-flex align-items-baseline price gap-2 mt-2">
                    <p>price:<%=ele.price%></p>
                    <p>quantity:<%=ele.quantity%></p>

            
                  </div>
                </div>
                <div class="imgOrder">
                  <img src="/uploads/<%=ele.product.image1%>" alt="">
                </div>
                <%  }) %>
              </div>
              <div class="ODhead pt-4 pb-4">
                <div class="d-flex gap-3 align-items-center">
                    <p class="dot done"></p>
                    <p id="oText">Ordered Confirmed, <span id="formattedDate"></span></p>
                </div>
                <div class="lineParent position-relative">
                    <div class="line position-relative doneLine">

                    </div>
                </div>
                <div class="d-flex gap-3 align-items-center">
                  <p class="dot done middle"></p>
                  <p id="oText" class="shipped">Shipped</p>
                </div>
                <div class="lineParent position-relative">
                    <div class="line position-relative doneLine">

                    </div>
                </div>
                <div class="d-flex gap-3 align-items-center">
                  <p class="dot done"></p>
                  <p id="oText " class="delivered">Delivered</p>
                </div>
              </div>
              <div class="ODhead sDetails">
                <p>Shipping Details</p>
              </div>
              <div class="ODhead pt-3 pb-3 SDetails">
                <h2 class="text-capitalize"><%=user1.username%></h2>
                <p class="text-capitalize"><%=order.address%></p>
                <p><%=user1.phone%></p>
              </div>
              <div class="ODhead sDetails">
                <p>Price Details</p>
              </div>
              <div class="orderContent">
                <div class="sTotal d-flex justify-content-between align-items-center">
                  <p class="commonText m-0 p-0">Subtotal</p>
                  <p class="commonSub m-0 p-0" id="sTotal">$<%=order.totalamount%></p>
                </div>

                <div class="ship d-flex justify-content-between align-items-center">
                  <p class="commonText m-0 p-0">Shipping</p>
                  <p class="commonSub m-0 p-0" id="free">FREE</p>
                </div>
<!-- 
                <div class="ship d-flex justify-content-between align-items-center">
                  <p class="commonText m-0 p-0">Discount</p>
                  <p class="commonSub m-0 p-0" id="dPrice">-19,600</p>
                </div>

                <div class="ship d-flex justify-content-between align-items-center">
                  <p class="commonText m-0 p-0">Coupon Discount</p>
                  <p class="commonSub m-0 p-0" id="cDPrice">0</p>
                </div> -->
              </div>
              <div class="Last">
                <div class="commonText tPrice d-flex justify-content-between align-items-center">
                  <p class="m-0 p-0">Total</p>
                  <p class="m-0 p-0" id="tPrice">$<%=order.totalamount%></p>
                </div>
              </div>
              <a href="/userOrderDownloadInvoice/:productId/:orderId" class="text-dark fw-bolder">
                <div class="ODhead sDetails d-flex justify-content-between">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <svg width="31" height="25" viewBox="0 0 31 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.417969" width="30.5811" height="25" rx="7" fill="non"/>
                        <path d="M16.1016 5.33325H13.903C12.0428 5.33325 11.1128 5.33325 10.5349 5.91904C9.95703 6.50482 9.95703 7.44763 9.95703 9.33325V14.6666C9.95703 16.5522 9.95703 17.495 10.5349 18.0808C11.1128 18.6666 12.0428 18.6666 13.903 18.6666H16.5336C18.3937 18.6666 19.3238 18.6666 19.9017 18.0808C20.4796 17.495 20.4796 16.5522 20.4796 14.6666V9.77115C20.4796 9.22615 20.4796 8.95365 20.3794 8.70863C20.2793 8.4636 20.0892 8.27091 19.7091 7.88554L17.9618 6.1143C17.5816 5.72893 17.3915 5.53624 17.1498 5.43475C16.9081 5.33325 16.6393 5.33325 16.1016 5.33325Z" fill="black"/>
                        <path d="M15.875 4.6665V7.99984C15.875 8.94265 15.875 9.41405 16.1679 9.70694C16.4608 9.99984 16.9322 9.99984 17.875 9.99984H21.1363" stroke="white" stroke-width="2"/>
                      </svg>
                    </div>
                    <div>
                      Invoice Download
                    </div>
                  </div>
                  <div class="fw-medium fs-5">
                    
                  </div> 
                </div>
              </a>
             
                <div class="ODhead sDetails d-flex justify-content-between gap-3">

                  <% if(order.status == "delivered") { %>
                    <a href="" id="rateAndReview" class="text-dark fw-bolder ">  <div id="rateandReview">
                        Rate and Review this product
                    </div>
                  </a>
                <% } %>

                  <!-- <div class="fw-medium fs-5">
                    >
                  </div>  -->
                </div>
             
            </div>
          </div>
        </div>
      </div>
    </main>

    

    <form id="reviewForm">
      <h1 style="display: flex;justify-content: Center;"><b>Review submit</b></h1>
      <select name="" id="selectedproduct" style="width:244px;margin-left:13px;margin-top:10px" required>
        <option value="">select your product </option>
<%order.products.forEach(ele=>{ %>

<option value=<%=ele.product._id%>><%=ele.product.productname%></option>

<%})%>



     </select>
    
      <textarea name="description" id ="description"placeholder="Review Description" required></textarea>
      <input  id ="ratingInput" type="number" name="rating" placeholder="Rating (1-5)" min="1" max="5" style="-webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield; "required />


     <div style="display: flex;">


     </div> <button id="formbutton"  type="submit">Submit Review</button>
      <button id="cancelButton" type="button">Cancel</button>

<p id="response">    </p>

    </form>
    

    <!-- end of main -->


    <!-- footer -->
   
    <!-- end of footer -->

  <script src="/script/review.js"></script>
  </body>
</html>