<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/admin/icon.png" type="image/.png">
    <title>Your product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/user/useroneproduct/style.css">
    <link rel="stylesheet" href="/css/user/useroneproduct/responsiveHome.css">
    <link rel="stylesheet" href="/css/user/useroneproduct/shop.css">
    <link rel="stylesheet" href="/css/user/useroneproduct/sproduct.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
</head>


<style>
    #searchbar{

width: 336px;
border-radius: 26px;
height: 38px;

}   

.logoS{

    width: 100px;
  height: 106px;
  margin-left: -21px;

}

</style>
<body>
    <section id="header">
        <a href="/userhome"><img src="/images/userhome/logo.png" style="width:80px; height:82px;" alt="logo" class="logo"></a>
        <div>
            <div>
                <ul id="navbar">
                    <li class="search-bar">
                        <input type="text" name="searchbar" id="searchbar">
                        <i class="fa-solid fa-magnifying-glass" id="icon"></i>
                    </li>
                    <li><a class="active" href="/userhome" style="text-decoration: none;">Home</a></li>
                 
                   
                    <li> <a href="/userhome/search?query=allproducts" style="color: black;text-decoration: none;">Products</a></li>
                    <li><a href="/userhome/men/?query=men">men</a></li>
                    <li><a href="/userhome/women/?query=women">women</a></li>
                    <li><a href="/userhome/account">Account</a></li>
                    <li><a href="/userhome/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                    <li class="lg-bag"><a href="/userhome/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <li><a href="/userhome/orders"><i class="fa-light fa-bags-shopping" style="color: #004080;"></i></a>               </li>
                    
                    <li><a href="#">logout</a></li>
                </ul>
        </div>
        <div id="mobile">

            <a href="./sub-pages/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </section>
    <section id="prodetails" class="section-p1">
        <div class="single-pro-img">
            <img src="/uploads/<%=product.image1%>" alt="P-1" width="100%" id="mainImg">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/uploads/<%=product.image2%>" width="100%" alt="P-1" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%=product.image3%>" width="100%" alt="P-2" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%=product.image1%>" width="100%" alt="P-3" class="small-img">
                </div>
                <!-- <div class="small-img-col">
                    <img src="../assets/products/f4.jpg" width="100%" alt="P-4" class="small-img">
                </div> -->
            </div>
        </div>
        <div class="single-pro-details">
           
            <h4><%=product.productname %></h4>
            <h2><%=product.newprice%></h2>
          
            <input type="number" value="1" readonly>
            <button class="normal" onclick="addcart('<%=product._id%>')">Add to cart</button>
            <h4>Product Details</h4>
            <span>This stylish men's fashion t-shirt boasts a modern and sleek design, perfect for the contemporary
                urban wardrobe.The unique graphic print on the front adds an eye-catching element to elevate any casual
                outfit.
            </span>
        </div>
    </section>
    <section id="product1" class="section-p1">
        <h2>Reviews</h2>
   
        <div class="pro-container">
            <% review.forEach(ele => { %>
                <div class="pro">
                    <div class="des">
                        <span><%= ele.userid.username %></span>
                        <div class="star">
                            <% for (let i = 1; i <= ele.review.rating; i++) { %>
                                <i class="fa-solid fa-star"></i>
                            <% } %>
                        </div>
                        <h4><%= ele.review.comments %></h4>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>sign up for newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img src="/images/userhome/logo.png" alt="logo" class="logoS">
            <h4>Contact</h4>
            <p><strong>Address:</strong>562 Wellington Road, Street 32,san Freancisco</p>
            <p><strong>Phone:</strong>+01 2222 3665 / (+91) 01 2345 6763</p>
            <p><strong>Hours:</strong>10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Poilcy</a>
            <a href="#">Terms & Condition</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account </h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My WishList</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/images/userhome/app.jpg" alt="app">
                <img src="/images/userhome/play.jpg" alt="play">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="/images/userhome/pay.png" alt="pay">
        </div>
        <div class="copyright">
            <p>2024 Ecommerce Project</p>
        </div>
    </footer>
    
    <script src="/script/usershowproduct.js"></script>


    <script src ="/script/wishlist.js"></script>
    <script src="/script/searchget.js"></script>
</body>


</html>