<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wishlist</title>
    <link rel="stylesheet" href="/css/user/userhome/style.css">
    <link rel="stylesheet" href="/css/user/wishlist/wishlist.css"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    
</head>
<body>
    <!-- Header section -->
    <section id="header">
        <a href="#"><img class="logo" src="/images/userhome/logo.png" alt="logo" class="logo" style="width: 80px; height: 82px;"></a>
        <div>
            <ul id="navbar">
                <li class="search-bar">
                    <input type="text" name="searchbar" id="search">
                    <i class="fa-solid fa-magnifying-glass" id="icon"></i>
                </li>
                <li><a class="active" href="/userhome" style="text-decoration: none;">Home</a></li>
                <li><a href="./sub-pages/shop.html">Category</a></li>
                <li><a href="/userhome/men">men</a></li>
                <li><a href="/userhome/women">women</a></li>
                <li><a href="/userhome/account">Account</a></li>
                <li><a href="/userhome/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                <li class="lg-bag"><a href="/userhome/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="/userhome/orders"><i class="fa-light fa-bags-shopping" style="color: #004080;"></i></a>               </li>
                <li><a href="#">logout</a></li>

            </ul>
        </div>
    </section>

    <!-- Wishlist section -->
    <h1>My Wishlist</h1>
    <div class="wishlist-container">
        <% wishlist.forEach(item => { %>
            <div class="wishlist-item">
                <!-- Product details -->
                <h3><%= item.productname %></h3>
                <p><%= item.description %></p>
                <img src="/uploads/<%= item.image1 %>" alt="Product Image">
                <p>Price: <%= item.price %></p>
                <!-- Add to cart and remove buttons -->
                <button class="removeFromWishlist" data-product-id="<%= item._id %>">Remove</button>
                <button class="addToCart" onclick="cart('<%=item._id%>')" data-product-id="<%= item._id %>">Add to Cart</button>
            </div>
        <% }) %>
    </div>


    <script src="/script/wishlister.js"></script>

    <!-- Other scripts if needed -->
</body>
</html>
